html
    head
        title!= title
        link(rel='styleSheet', href='./style.css')
    body
        h1!= message
        p I begin to understand this
        div#app
        script(src='./index-react.js')
        block content