#register {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 350px;
  background: #fff;
  margin: auto;
  //background-color: #cc0000;
  //border-color: #003366;
  padding: 15px 15px;
  #regis {
    float: right;
  }
  //  border-bottom: 2px solid #ddd;
  //.sidebar-header {
  //  flex-grow: 0;
  //  text-align: center;
  //  padding: 20px 10px;
  //  border-bottom: 2px solid #ddd;
  //}
  //.sidebar-content {
  //  flex-grow: 2;
  //
  //  ul.songs-list {
  //    list-style-type: none;
  //    padding: 0;
  //
  //    li {
  //      cursor: pointer;
  //      padding: 15px;
  //      border-bottom: 1px #ddd solid;
  //
  //      &:hover {
  //        background: #eee;
  //      }
  //    }
  //  }
  //}
}